<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<!--<link rel="stylesheet" href="~/my_website.styles.css" asp-append-version="true" />-->
    
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
	<header>
		<!-- Top bar -->
		<div class="flex-1 flex flex-col">
			<nav class="px-4 flex justify-between h-16 bg-blue-200">
				<ul class="flex items-center"></ul>


				<!-- middle -->
				<ul class="flex items-center">
					<!-- add button -->
					<li>
						<h1 class="pl-8 lg:pl-0 text-gray-700">But if you close your eyes :music:</h1>
					</li>
				</ul>

				<!-- right  -->
				<ul class="flex items-center">
					<li class="pr-6">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-bell">
							<path
								d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
							<path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
						</svg>
					</li>
					<li class="h-10 w-10">
						<!-- profile image -->
						<!-- i guess i should use ViewData[] -->
						<img
							class="h-full w-full rounded-full mx-auto"
							src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
							alt="profile woman" />
					</li>
				</ul>
			</nav>
		</div>

		<!-- Left Bar -->
		<div id="left-nav" class="bg-blue-300 static uppercase font-semibold flex-col justify-between shadow-lg border-gray-600 md:h-screen md:w-16 fixed w-screen top-0 duration-1000">
			
			<div class="md:p-4 mb-2">
				<ul class="">
					<li class="h-8 w-8" id="burger-li">
						<!--<img
							class="h-full w-full mx-auto"
							src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Svelte_Logo.svg/512px-Svelte_Logo.svg.png"
							alt="svelte logo" />-->
						<label for="burger-check">
							<input type="checkbox" id="burger-check"/> 
							<span></span>
							<span></span>
							<span></span>
						</label>
					</li>
				</ul>
			</div>
			
			
			<!--<div class="md:p-5 p-3 delay-75 duration-500 ease-in-out transform hover:scale-125 hover:-rotate-12">
				<svg xmlns="http://www.w3.org/2000/svg" class="text-black h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path strokeLinecap="round" strokeLinejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
				</svg>
			</div>-->
			<div id="test-1" class="nav-item hover:scale-150 duration-200 p-5 mb-1 rounded-full font-bold text-center">
				<svg xmlns="http://www.w3.org/2000/svg" class="text-black h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path strokeLinecap="round" strokeLinejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
				</svg>
			</div>
			<div id="test2" class="nav-item hover:scale-150 duration-200 p-5 mb-1 text-center rounded-full">
				<svg xmlns="http://www.w3.org/2000/svg" class="text-black h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path strokeLinecap="round" strokeLinejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
				</svg>
			</div>
		</div>


		<!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-page="/Index">my_website</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
						</li>
					</ul>
				</div>-
			</div>
		</nav>-->
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2022 - my_website</a><!-- - <a asp-area="" asp-page="/Privacy">Privacy</a>-->
		</div>
	</footer>

	<!--<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>